/* Corps global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* En-tête */
header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

.logo {
    height: 50px;
}

/* Pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Formulaires */
form {
    margin: auto;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}

form input, form textarea, form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Cartes */
.place-card, .review-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: #f4f4f4;
}

/* Boutons */
button, .details-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, .details-button:hover {
    background-color: #0056b3;
}
